<a href="https://colab.research.google.com/github/archanaad2007-cloud/ict_assignments/blob/main/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def find_max_of_three(num1, num2, num3):
  """
  Finds the maximum of three numbers.

  Args:
    num1: The first number.
    num2: The second number.
    num3: The third number.

  Returns:
    The largest of the three numbers.
  """
  return max(num1, num2, num3)

# Example usage:
result1 = find_max_of_three(10, 5, 20)
print(f"The maximum of 10, 5, and 20 is: {result1}")

result2 = find_max_of_three(-3, -1, -7)
print(f"The maximum of -3, -1, and -7 is: {result2}")

result3 = find_max_of_three(7, 7, 3)
print(f"The maximum of 7, 7, and 3 is: {result3}")

The maximum of 10, 5, and 20 is: 20
The maximum of -3, -1, and -7 is: -1
The maximum of 7, 7, and 3 is: 7

In [3]:
def sum_list_numbers(numbers):
  """
  Sums all numbers in a list.

  Args:
    numbers: A list of numbers.

  Returns:
    The sum of all numbers in the list.
  """
  return sum(numbers)

# Sample usage with the provided list:
sample_list = [18, 12, 30, 10, 7]
expected_output = sum_list_numbers(sample_list)
print(f"The sum of the numbers in {sample_list} is: {expected_output}")

The sum of the numbers in [18, 12, 30, 10, 7] is: 77

In [6]:
list = [10,20,30,50]
list.insert(3,40)
list

[10, 20, 30, 40, 50]

In [7]:
sample_dict = {"name": "Kelly", "age": 25, "salary": 8000, "city": "New York"}
sample_dict['Location'] = sample_dict.pop('city')
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'Location': 'New York'}

In [13]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

sample_dict['emp3']['salary'] = 8500

print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [14]:
tuple1 = (11, 22, 33, 44, 55, 66)

# Extract elements 44 and 55 using slicing and create a new tuple
new_tuple = tuple1[3:5]

print(f"Original tuple: {tuple1}")
print(f"New tuple with elements 44 and 55: {new_tuple}")

Original tuple: (11, 22, 33, 44, 55, 66)
New tuple with elements 44 and 55: (44, 55)

In [15]:
tuple1 = (50, 10, 60, 70, 50, 83, 567, 50, 81)

count_of_50 = tuple1.count(50)

print(f"The number of occurrences of 50 in the tuple is: {count_of_50}")

The number of occurrences of 50 in the tuple is: 3